body {
    text-align: center;
    margin: 0.5;
    font-family: 'Arial';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
  code {
    font-family: sans-serif;
  }
  
  .app {
    text-align: center;
    background: #4b57c2;
    padding: 130px;
    height: 100vh;
    padding-top: 20px;
  }
  
  .todo-list{
    text-align: center;
    background: ghostwhite;
    border-radius: 4px;
    padding: 5px;
    max-width: 400px;
  }
  
  .todo{
    text-align: center;
    background: #fff;
    box-shadow: 1px 1px 1px rgba(0,0,0, 0.15);
    padding: 3px 10px;
    font-size: 24px;
    margin-bottom: 6px;
    border-radius: 3px;
    display:flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .input{
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    border: 0;
    border-radius: 4px;
    box-shadow: none;
    padding: 1rem;
    height: 2.25em;
    font-size: 24px;
  }
  
